.pokedex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   }
  
   .pokedex-grid {
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(3, 1fr);  
   }

   .charmander-gif {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }