.searchEvoBar-container {
    display: flex;
    margin: 0px auto;
    padding: 0 20px;
    align-items: center;
    margin-top: 2%;
  }

.pokemon-Evoard {
    display: flex;
    box-shadow: 5px 8px 4px rgba(2, 2, 2, 0.25);
    border-radius: 10px;
    background-color: rgb(116, 116, 123);
    margin-top: 40px;
   }

.card-evoBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    border-radius: 10px;
    width: 10%;
    align-items: center;
    background-color: rgb(116, 116, 123);
    margin-top: 2%;
    margin-left: 5%;
  }
  
   .card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
  
   .card-top h3 {
    text-transform: capitalize;
   }

   .pokemon-image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
   }