.searchEvoBar-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 2rem;
  }

  .searchEvoBar-btn{
    background-color: rgba(195, 195, 36, 0.773);
    border: solid;
    border-radius: 10px;
    height: 3rem;
    color: white;
    cursor: pointer;
  }

.card-evoBody {
     display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    align-items: center;
    font-weight: bold; 
  }
  
   .pokemon-image {
    width: 80px;
    height: 80px;
   }

   