.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(46, 46, 49);
    margin-top: 3rem;
    padding-bottom: 0.8rem;
    position: relative;
}

.icon-linkedin {
    margin-bottom: 1rem;
}

.footer-text {
    display: flex;
    font-weight: bold;
    font-size: x-large;
    color: rgba(255, 255, 6, 0.773);
    cursor: default;
}
