.paginacao-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-click {
    margin-right: 10px;
    cursor: pointer;
}

.right-click {
    margin-left: 10px;
    cursor: pointer;
}

.text {
font-weight: bold;
cursor: default;
}